* {
    margin: 0px;
    padding: 0px;
}

.hvr-grow {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: all;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transform: translateZ(-10);
    box-shadow: 0 0 30px rgba(0, 0, 0, 40);
    position: relative;
    z-index: 999;
}

h1 {
    font-size: 66px;
}

h2 {
    font-size: 50px;
}

body {
    background-color: #1E1E1E;
    color: #DBFFF1;
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    text-align: center;
    width: 100%;
}

#content {
    display: inline-block;
    text-align: center;
    width: 90%;
}

#header {
    text-align: left;
    background-color: #252526;
    width: 100%;
    height: 100px;
    padding-bottom: 30px;
}

#header * {
    padding-left: 10px;
}

#portfolio {
    width: 100%;
    text-align: center;
}

#projects,
#quicklinks {
    margin: 10px;
    text-align: center;
    display: inline-block;
    align-items: center;
    width: auto;
    overflow: visible;
    margin-bottom: 50px;
}

.quicklink {
    width: 100px;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
}

.quicklink img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.quicklink a {
    text-decoration: none;
}

a {
    color: #DBFFF1;
}

#footer {
    background-color: #252526;
    height: 150px;
    margin-top: 40px;
}

.art-element {
    width: 700px;
    display: inline-block;
    background-color: #252526;
    text-align: left;
    margin: 7px;
    padding: 5px;
}

.art-element-content {
    padding-bottom: 5px;
}

.art-element h2 {
    font-size: xx-large;
}

.art-element h3 {
    font-size: large;
    color: #525252;
}

.art-element-content img {
    border-radius: 10px;
    max-width: 700px;
}

.art-element-content p {
    text-align: center;
}

.project-element {
    width: 500px;
    height: 500px;
    /*never trust float: left;*/
    display: inline-block;
    background-color: #252526;
    text-align: left;
    margin: 7px;
}

.project-element h3 {
    font-size: 25px;
}

.project-element :not(.project-image) {
    margin-left: 5px;
}

.project-element p {
    width: 420px;
    font-size: 14px;
}

.project-image {
    width: 500px;
    height: 400px;
    margin-left: -5px;
}

#motd {
    color: #6A9955;
    font-size: 28px;
}

.nostyle {
    clear: both;
}

.highlight-btn {
    opacity: 1;
}

.highlight-btn2 {
    opacity: 0.4;
}

.highlight-btn :hover,
.highlight-btn-selected {
    opacity: 2;
}

.highlight-btn-selected .highlight-btn2 {
    opacity: 2;
}

#footer a {
    margin-top: 30px;
    display: inline-block;
    width: 44px;
    height: 44px;
    padding-left: 30px;
    padding-right: 30px;
}

#footer .credit {
    width: 300px;
    color: #525252;
    height: 20px;
    margin-top: 10px;
}

#footer img {
    width: 44px;
    height: 44px;
    box-shadow: none;
}

#filter {
    margin-top: 20px;
}

#filter .highlight-btn:hover,
.highlight-btn2:hover,
.hvr-grow:hover {
    box-shadow: none;
}

#filter a {
    margin-left: 10px;
    margin-right: 10px;
}

#qmenu {
    background-color: #252526;
    padding-top: 10px;
    /*min-height: 4vh;*/
    margin-bottom: 20px;
}

.navbutton {
    display: inline-block;
    font-weight: bolder;
    font-size: larger;
    min-width: 250px;
    height: 3vh;
    padding: 10px;
    border-bottom: solid 5px #525252;
    text-decoration: none;
}

.navbutton:hover {
    background-color: #525252;
}

#filter img {
    width: 48px;
    height: 48px;
}

#about p {
    text-align: left;
    font-size: 19px;
}

.invisible {
    display: none;
}

@media only screen and (max-device-width: 600px) {
    .project-element {
        width: 350px;
        height: 450px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
    }
    .project-image {
        width: 350px;
        height: 280px;
    }
    .project-element p {
        width: 300px;
        font-size: 14px;
    }
    #content {
        width: 100%;
        margin: 0px;
    }
    #projects {
        margin: 0px;
    }
    #motd {
        font-size: 15px;
    }
    #about {
        margin: 8px;
    }
    #footer a {
        margin-top: 30px;
        display: inline-block;
        width: 22px;
        height: 44px;
        padding-left: 30px;
        padding-right: 30px;
    }
}